@import 'libs/_fonts'
@import 'base/_variables'

*
  font-family: 'Noto Sans', sans-serif
body
  margin: 0
  padding: 0
  background: url(../img/main/bg/bg-black.jpg)
  background-size: 100%

@import 'blocks/_promo'
@import 'blocks/_header'
@import 'blocks/_menu'
@import 'blocks/_contacts'
@import 'blocks/_buttons'
@import 'blocks/_design'
@import 'blocks/_title'
@import 'blocks/_background'
@import 'blocks/_carousel'
@import 'blocks/_menuslider'
@import 'blocks/_delivery'

@import 'blocks/_media'
